 <link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>


<style>
body  {

    background-image: url("{{=URL('static', 'images/index_background.jpg')}}");
    background-size: cover;
    background-repeat: no-repeat;
      }

    .ghost-button a {
        text-decoration: none;
    }
</style>


{{if auth.user_id != None:}}
    <head>
        <meta http-equiv="refresh" content="0; url={{=URL('default','show_boards')}}"/>
    </head>
 {{pass}}
<br><br><br><br><br><br>
<h1 class="index_heading" style="text-align: center">Hidden Santa Cruz</h1>
<br><br>
    <div class = "intro-statement">
Hidden Santa Cruz gives a chance for people to visit all hidden and amazing spots located in the mystic <br><br>
county of Santa Cruz. Whether you are a local or somone here on a short visit, there is now <br><br>
a go-to site that will allow you to both post sites and explore new ones.
    </div>

 <p align="right" >

        {{=A('Enter Website', _class='buttons', _href=URL('default', 'show_boards'))}}
    </p>