{{extend 'layout.html'}}
        <!--comment-->
{{from datetime import datetime}}

<body class="cbp-spmenu-push">

    <style>
        .search_list {
            list-style-type: square;
            /*background: #3399ff;*/
            padding: 20px;
            background-size: contain;
        }

        .search_list li {
            /*background: #cce5ff;*/
            margin: 5px;
        }

    </style>


  <!--shows the sign in sign out buttons-->
  {{if auth.user_id is None:}}
            <h1>
            <div align="right" id="main_login">
            {{=A('Sign Up', _class='btn btn-warning', _href=URL('default', 'user', args=['register']))}}
            {{=A('Sign In', _class='btn btn-success', _href=URL('default', 'user', args=['login']))}}
             <br><br></div>
            </h1>
  {{else:}}
    <div class = "buttons">
        <a class="btn btn-success" href="add_board.html">Add Board</a>
           <div style="display: inline-block; float:right;">
           {{=A('Logout', _class='btn btn-danger', _href=URL('default', 'user', args=['logout']))}}
            </div>
    </div>
            <br>
            <br>
  {{pass}}

</div>

  <div style="margin-left: 50px;">
      Search for Posts:
        {{=form}}
        {{=target_div}}
  </div>




  <!--Also from dashboard, this does the sidebar and the main page-->
    <div class="container-fluid">

<!--if user is not logged in dont let them create a board, if they are then show button-->
        {{if auth.user_id is None:}}
             {{for board_id in board_list:}}

                <div class = "myboard">
                    <span class = "boardpic" >
                    <img alt="West Cliff Drive" awidth="160" style="height: 160px; width: 160px;"   class="photo_image" height="160" src="http://media-cdn.tripadvisor.com/media/photo-l/01/3e/f3/8d/west-cliff-backyard.jpg">
                    </span>
                    <span class="boardtitle" >
                    {{=A(board_id['title'],_href=URL('default', 'show_posts', args=board_id['id'])) }}</span>



                </div>
            {{pass}}

        {{else:}}
           {{for board_id in board_list:}}
            <div class = "myboard" >
                <span class = "boardpic" >
                    <img alt="West Cliff Drive" awidth="160" style="height: 160px; width: 160px;"   class="photo_image" height="160" src="http://media-cdn.tripadvisor.com/media/photo-l/01/3e/f3/8d/west-cliff-backyard.jpg">
                    </span>
              <span class="boardtitle" >
                {{=A(board_id['title'],_href=URL('default', 'show_posts', args=board_id['id'])) }}
              </span>
                {{today_posts = db((db.posts.post_day > yesterday) & (db.posts.board == board_id.id)).count()}}
                <p>New Posts Today: {{=today_posts}}</p>
            </div>
           {{pass}}
        {{pass}}


</div>


  </body>



