<link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>

        <!--comment-->
{{from datetime import datetime}}

<body class="cbp-spmenu-push">

    <style>
        .search_list {
            list-style-type: square;
            /*background: #3399ff;*/
            padding: 20px;
            background-size: contain;
        }
        .search_list li {
            /*background: #cce5ff;*/
            margin: 5px;
        }
    </style>

    {{if auth.user_id is None:}}

    <style>
        body  {
        background-image: url("{{=URL('static','images/index_background.jpg')}}");
        /*background-size: 1350px 1000px;*/
        background-size: cover;
        background-repeat: no-repeat;
        }

        .ghost-button a {
            text-decoration: none;
        }
    </style>


  <!--shows the sign in sign out buttons-->
  <div id="main_login">
    <body>
    <div class = "buttons" style="float: right;">
        {{=A('Login', _class='ghost-button', _href=URL('default', 'user', args=['login']))}}
        {{=A('Sign Up', _class='ghost-button', _href=URL('default', 'user', args=['register']))}}
    </div>
    </body></div>
    <br><br><br><br><br><br>
    <h1 class="index_heading"><center><b>Hidden Santa Cruz</b></center></h1>
    <div class = "intro-statement">
        <p><center> Hidden Santa Cruz gives a chance for people to visit all hidden and amazing spots located in the mystic </center></p>
        <p><center> county of Santa Cruz. Whether you are a local or somone here on a short visit, there is now </center></p>
        <p><center> a go-to site that will allow you to both post sites and explore new ones.</center></p>
    </div>

  {{else:}}
<br>
    {{extend 'layout.html'}}
    <style>
        body {
            background-color: grey
        }
    </style>

    <p align= "right">
           {{=A('Edit Profile', _class='ghost-button', _href=URL('default', 'user', args=['profile']))}}
           {{=A('Logout', _class='ghost-button', _href=URL('default', 'user', args=['logout']))}}
    </p>
            <br>
            <br>

</div>

  <div style="margin-left: 50px;">
      Search for Posts:
        {{=form}}
        {{=target_div}}
  </div>

  <!--Also from dashboard, this does the sidebar and the main page-->
    <div class="container-fluid">

<!--if user is not logged in dont let them create a board, if they are then show button-->
            {{=A('create board', _class='btn btn-primary', _href=URL('default', 'add_board'))}}
           {{for board_id in board_list:}}
            <div class = "myboard" >
              <span class="boardtitle" >
                {{=A(board_id['title'],_href=URL('default', 'show_posts', args=board_id['id'])) }}
              </span>
            </div>
           {{pass}}

</div>

  </body>


<br><br><br><br>
<h1 class="index_heading"><center>Welcome to Hidden Santa Cruz</center></h1>
<br><br><br>

<body>

  <div class = "all_boards">

        <a href="{{=URL('default', 'show_posts')}}">
            <div class="main_boards">
                  <img class="circle_frame" src="{{=URL('static', 'images/art.jpg')}}"/>
            </div>
        </a>

        <a href="{{=URL('default', 'show_posts')}}">
            <div class="main_boards">
                  <img class="circle_frame" src="{{=URL('static', 'images/hiking.jpg')}}"/>
            </div>
        </a>

        <a href="{{=URL('default', 'show_posts')}}">
            <div class="main_boards">
                  <img class="circle_frame" src="{{=URL('static', 'images/local_events.jpg')}}"/>
            </div>
        </a>

        <a href="{{=URL('default', 'show_posts')}}">
            <div class="main_boards">
                  <img class="circle_frame" src="{{=URL('static', 'images/night_life.jpg')}}"/>
            </div>
        </a>

         <a href="{{=URL('default', 'show_posts')}}">
            <div class="main_boards">
                  <img class="circle_frame" src="{{=URL('static', 'images/restaurants.jpg')}}"/>
            </div>
         </a>


        <a href="{{=URL('default', 'show_posts')}}">
            <div class="main_boards" >
                  <img class="circle_frame" src="{{=URL('static', 'images/scenic.jpg')}}"/>
            </div>
        </a>

  </div>
</body>


  {{pass}}