{{extend 'layout.html'}}


<div id="target"></div>

<body class="cbp-spmenu-push my_body">


<script id="template" type="text/ractive">
    {{=A('Back', _class='back_button', _href=URL('default', 'show_boards', args=[]))}}
  <!--shows the sign in sign out buttons-->
        <h1 class="post_header">
        {{=post_category}}

        </h1>

  {{if auth.user_id is not None:}}
        <span style = "float:right">
        {{=A('Create Post', _class='btn btn-success', _href=URL('default', 'add_posts', args=[post_category]))}}
        </div>
  {{pass}}


    <div class="dropdown">
        Sort By:
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        {% #if sort_rated %}
            Highest Rating
        {% /if %}
        {% #if sort_recent %}
            Most Recent
        {% /if %}

      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class="hover_hand"><a on-click="loadposts:1">
            {% #if sort_rated %}
            <i class="fa fa-check"></i>
            {% /if %}
            Highest Rating
        </a></li>
        <li class="hover_hand"><a on-click="loadposts:2">
            {% #if sort_recent %}
            <i class="fa fa-check"></i>
            {% /if %}
            Most Recent
        </a></li>
      </ul>
    </div>

<div class="pin_wrapper">
<div class="pin_columns">

  {% #post_list %}

    <div class = "pin hover_hand" on-click="go_to_post:{%id%},{%category%}" >
        <p>
        <p class="boardtitle">
            {% title %}
        </p>

        <div class="boardbody">
            {% #if user_id == {{=auth.user_id}} %}
                <p style="float: left">
                <a href="{{=URL('default', 'posts_edit')}}/{%id%}" ><i class="fa fa-pencil fa-2x"></i></a>
                </p>
                <p style="float: right">
                <a href="{{=URL('default', 'delete_post')}}/{%id%}/{%category%}" ><i class="fa fa-trash fa-2x"></i></a>
                </p>
            {% /if %}

            {% #star_dict[id]%}
                <i style = "color: #ffad33" class = "fa fa-star"></i>
            {% /star_dict %}

            {% #if half_star_dict[id] %}
                <span style=" margin-left: -4px;">
                <i style = "color: #ffad33" class = "fa fa-star-half-o"></i>
                </span>
            {% /if %}

            <span style=" margin-left: -4px;">
            {% #anti_star_dict[id]%}
                <i style = "color: #ffad33;" class = "fa fa-star-o"></i>
            {% /star_dict %}
            </span>
            ({% avg_rate %})
            <div style="clear: both;"></div>
            <p>
            Posted On: {% created_on %}
            </p>
        </div>
    </div>
  {% /post_list %}
 </div>
</div>

  </script>

<script>
$(function() {

  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
        post_list: [],
        star_dict: {},
        anti_star_dict: {},
        half_star_dict: {},
        sort_rated: false,
        sort_recent: false,
        loading: false
    }
  });

  // Loads the initial list of posts.
  $.ajax("{{=URL('default', 'load_posts_recent', user_signature=True, args=post_category)}}",
          {
            method: 'POST',
            success: function (data) {
                MAIN.set('post_list', data['post_list']);
                MAIN.set('star_dict', data['star_dict']);
                MAIN.set('anti_star_dict', data['anti_star_dict']);

                MAIN.set('half_star_dict', data['half_star_dict']);


                MAIN.set('sort_recent', true);
                MAIN.set('sort_rated', false);
            }
          }
  );

    //loads the posts by rating or most recent depending on args
    MAIN.on("loadposts", function(e, num){
        if(num == 1) {
             $.ajax("{{=URL('default', 'load_posts_rating', user_signature=True, args=post_category)}}",
                      {
                        method: 'POST',
                        success: function (data) {
                            MAIN.set('post_list', data['post_list']);
                            MAIN.set('star_dict', data['star_dict']);
                            MAIN.set('anti_star_dict', data['anti_star_dict']);
                            MAIN.set('half_star_dict', data['half_star_dict']);
                            MAIN.set('loading', false);

                            MAIN.set('sort_recent', false);
                            MAIN.set('sort_rated', true);
                        }
                      }
              );

        }
        else if(num==2){
            $.ajax("{{=URL('default', 'load_posts_recent', user_signature=True, args=post_category)}}",
                      {
                        method: 'POST',
                        success: function (data) {
                            MAIN.set('post_list', data['post_list']);
                            MAIN.set('star_dict', data['star_dict']);
                            MAIN.set('anti_star_dict', data['anti_star_dict']);
                            MAIN.set('half_star_dict', data['half_star_dict']);
                            MAIN.set('loading', false);

                            MAIN.set('sort_recent', true);
                            MAIN.set('sort_rated', false);
                        }
                      }
              );
        }
    });

    //goes to the page for that post
    MAIN.on("go_to_post", function(e, post_id, category){
        window.location.href = '{{=URL('default', 'post_page')}}' + '/' + post_id + '/' + category;
    });

  // Called every 10s, checks for changes in posts and loads them
  function periodic_load() {
      var sort_recent = MAIN.get('sort_recent');
      var sort_rated = MAIN.get('sort_rated');
      if(sort_rated) {
             $.ajax("{{=URL('default', 'load_posts_rating', user_signature=True, args=post_category)}}",
                      {
                        method: 'POST',
                        success: function (data) {
                            MAIN.set('post_list', data['post_list']);
                            MAIN.set('star_dict', data['star_dict']);
                            MAIN.set('anti_star_dict', data['anti_star_dict']);
                            MAIN.set('loading', false);
                        }
                      }
              );

        }
        else if(sort_recent){
            $.ajax("{{=URL('default', 'load_posts_recent', user_signature=True, args=post_category)}}",
                      {
                        method: 'POST',
                        success: function (data) {
                            MAIN.set('post_list', data['post_list']);
                            MAIN.set('star_dict', data['star_dict']);
                            MAIN.set('anti_star_dict', data['anti_star_dict']);
                            MAIN.set('loading', false);
                        }
                      }
              );
        }
  }

  setInterval(periodic_load, 10000);

});
</script>

</body>





