{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="target"></div>
<script id="template" type="text/ractive">
<h2>Posts:</h2>
<button class="btn btn-success" on-click="add-post">New Post</button>
<div class="message_list">
  {% #post_dict:post_id %}
      <div class="board_in">
        <textarea value= "Title: {% post_title %}, boardID: {%boardID%}">
        </textarea>
      </div>
  {% /post_dict %}

{% #if loading %}
  <div id="load_spinner">
    <i class="fa fa-spinner fa-pulse fa-4x"></i>
  </div>
{% /if %}
</div>
</script>


<script>
$(function() {

  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      post_dict: {},
      loading: true,
      boardID: "{{=boardID}}"
    },
  });
  var boardID = MAIN.get('boardID');
// Loads the initial list of boards.
$.ajax("{{=URL('default', 'load_posts', user_signature=True)}}",
          {
            data: {boardID: boardID},
            method: 'POST',
            success: function (data) {
              MAIN.set('post_dict', data['post_dict']);
              MAIN.set('loading', false);
            }
          }
  );

MAIN.on("add-post", function(e) {
    $.ajax("{{=URL('default', 'add_post', user_signature=True)}}",
    {
      data: {boardID: boardID},
      method: 'POST',
      success: function (data){
      MAIN.set('post_dict', data['post_dict']);
      }
    }
  )
    return false;
  });

});


</script>
