.colorful {
  color: $clrHilight;
}
div.main_login{
  text-align: center;
  vertical-align: middle;
  padding:10px;
}
h1{
  border: double;
  text-align: center;
}
body{
  background-color: #FDFDF3;
}
div.board_n{
  background-color: #F7F7D6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 // -moz-border-radius: 20px;
  //-webkit-border-radius:20px;
  //border-radius:20px;
  display: inline-block;
  width: 170px;
  height:170px;
  border-top: 30px;
  text-align: center;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: clip;
  word-wrap: normal;
  margin:5px;
  vertical-align: middle;
  box-shadow: 3px 3px 1px #888888;
}
a.b_link{
  border-radius:20px;
  display: inline-block;
  width: 170px;
  height:170px;
  border-top: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
}

div.main_icon_section{
  border-radius:20px;
  display: inline-block;
  text-align: center;
}
i.board_name{
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  text-shadow: 1px 2px 1px gray;

}

hr{
  display: block;
  margin-bottom: .1em;
  margin-top: .5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 3px;
  width:100%;
  border-color: black;
}

div.board_click{
  background-color: #CCCC99;
}
div.post_n{
  background-color: $clrposts;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius:20px;
  border-radius:20px;
  display: inline-block;
  width: 215px;
  height:245px;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  margin: 10px;
  overflow: scroll;
  position:relative;
  //reference:http://www.w3schools.com/cssref/css3_pr_transform.asp
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
  transform: rotate(-3deg);
  box-shadow: 7px 7px 5px #888888;
}

i.post_name{
  font-size: 20px;
}
div.post_des{
  text-align: center;
  font-size: 16px;
}
div.new_color{
  background-color: red;
}
div.p_date{
  font-size: 10px;
  color: darkgray;
  text-align: center;
  align-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;

}
div.p_phone{
  font-size: 14px;
  color: #707272;
  text-align: center;
  align-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 25px;

}

div.editX{
  text-align: end;
  color: black;
  padding: 10px;
}