@import "compass";
// @import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/utilities";
//note that compass is a sass extension.
//install using "gem install compass"
//use by runninng "compass watch" from the static folder

@import "constants";
@import "main";

$path_to_background : "../images/background-sunset.jpg";

.home_title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 3em;
    color: #ffb605;
}
.myPanelBoard {
    display: inline-block;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #696373;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -mos-border-radius: 5px 5px 5px 5px;
}

.myPanelBoard .heading {
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    padding: 15px 60px;
    background-color: #8269cc;
}
.myPanelBoard .heading a {
    color: #ffff00;
    font-size: 1.5em;
}

.myPanelBoard .panelBody {
    text-align: center;
    font-size: .9em;
    background: #D8E6F2;
    padding: 20px 80px;
}

.myPanelBoard .foot {
    text-align: center;
    font-size: .7em;
    background: #D8E6F2;
    padding-bottom: 10px;
    color: #889396;
}

.boardBody {
    background-image: url("#{$path_to_background}");
    background-size: cover;
}

.myPanelPost {
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #696373;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -mos-border-radius: 5px 5px 5px 5px;
}

.myPanelPost .heading {
    text-align: center;
    font-size: 1.2em;
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 20px 40px;
    background-color: #1e9ccc;
}

.myPanelPost .panelBody {
    background: rgba(17, 250, 207, 0.21);
    padding: 20px 40px;
}

.myPanelPost .foot {
    text-align: center;
    background: rgba(17, 250, 207, 0.21);
    /*padding: 10px 0px 10px 40px;*/
    padding-bottom: 10px;
    color: #889396;
}

.fa-trash {
    color: #331b68;
    font-size: 1.5em;
    margin-left: 5px;
}

.fa-pencil {
    color: #ffff00;
    font-size: 1.5em;
    margin-left: 15px;
}
