{{extend 'layout.html'}}
        {{=A('Back to Boards', _class='btn btn-info', _href=URL('default','index'))}}


<div id="loading_spinner" class="main_icon_section">
     <i class="fa fa-spinner fa-pulse fa-5x"></i>
</div>

<div id="server_error" class="main_icon_section" style="display: none">
    <div><i class="fa fa-warning fa-4x"></i></div>
    <div class="error_msg">Error contacting server</div>
</div>

{{if auth.user_id is None:}}
        <div class="main_login">
         {{=A('Sign Up', _class='btn btn-warning', _href=URL('default', 'user', args=['register']))}}
         {{=A('Sign In', _class='btn btn-success', _href=URL('default', 'user', args=['login']))}}
     </div>
<div id="target"></div>
<script id="template" type="text/ractive">
{{else:}}
<div id="target"></div>
<script id="template" type="text/ractive">
 <div class="main_login">
 <input class="btn btn-primary" type="submit" value="Create Post" on-click="createpost"/></div>
 {{pass}}
 {% #if delyesL%}
     <div class="main_login"> <a class="btn btn-danger" on-click="delete"><i class="fa fa-trash-o"></i></a></div>
 {% /if %}
 <h1>Posts</h1>
 <div id="edit_post">
 {% #post_dict: i%}
     <div class="board_n">
     {% #if todelete %}
         {%#del_list: i%}
             {% #if post_uid == del_list[i] %}
                 <div class="new_color">To delete</div>
             {% /if %}
         {% /del_list %}
     {% /if %}
     <div class="editX"><i class="fa fa-times" data-areaid="{% post_uid %}" on-click="warndel" ></i></div>
     <i class="post_name">
     {% #if editingt %}
         {% #if post_uid == NULL %}
             <textarea id="editarea" on-blur="editdone" data-areaid="{% post_id %}" value="{% active_draft %}">
             </textarea>
         {%else%}
             {% #if post_uid == post_id %}
                 <textarea id="editarea" on-blur="editdone" data-areaid="{% post_id %}" value="{% active_draft %}">
                 <p>{% post_name %}</p></textarea>
             {%else%}
                 <p>{% post_name %}</p>
             {% /if %}
         {% /if %}
     {% else %}
         {% #if post_name==NULL %}
             <div on-click="startedit" value="{% active_draft %}" data-areaid="{% post_id %}" data-new="{% post_new %}"><p>{% active_draft %}</p></div>
         {%else%}
             <div on-click="startedit" value="{% active_draft %}" data-areaid="{% post_uid %}"><p>{% post_name %}</p></div>
         {% /if %}
     {% /if %}
      </i>
      <i class="post_desc">
     {% #if editingd %}
         {% #if post_uid == NULL %}
             <textarea id="editarea" on-blur="editdoneD" data-areaid="{% post_id %}" value="{% active_draft_d %}">
             <p>{% active_draft_d %}</p></textarea>
         {%else%}
             {% #if post_uid == post_id %}
                 <textarea id="editarea" on-blur="editdoneD" data-areaid="{% post_id %}" value="{% active_draft_d %}">
                 <p>{% post_desc %}</p></textarea>
             {%else%}
                 <p>{% post_desc %}</p>
             {% /if %}
         {% /if %}
     {% else %}
         {% #if post_desc==NULL %}
             <div on-click="starteditD" value="{% active_draft_d %}" data-areaid="{% post_id %}" data-new="{% post_new %}"><p>{% active_draft_d %}</p></div>
         {%else%}
             <div on-click="starteditD" value="{% active_draft_d %}" data-areaid="{% post_uid %}"><p>{% post_desc %}</p></div>
         {% /if %}
     {% /if %}
</i>
 {% /post_dict %}
 </div></div>
 </script>

<script>
    $(function() {
// Ractive object
        var old_url=document.URL.split(['/']);
        var url_l=old_url.length;
        var url=old_url[url_l-1];
        var MAIN = new Ractive({
            el: '#target',
            template: '#template',
            delimiters: ['{%', '%}'],
            tripleDelimiters: ['{%%', '%%}'],
            data: {
                post_dict: {},
                del_list:[],
                board_id: url,
                todelete: false,
                post_id:" ",
                active_draft: "      ",
                last_draft:"",
                last_draftD:"",
                loading: false,
                editingt: false,
                editingd: false,
                delyes:false,
                post_new: false,
                post_desc:"",
                active_draft_d:"     ",
                name:" ",
                auth:""
            },
        });

        MAIN.on("warndel", function(e) {
             var del_list=MAIN.get('del_list');
             var post_dict=MAIN.get('post_dict');
             var id=$(e.node).data("areaid");
             var idd =post_dict[id]['post_uid'];
             MAIN.set('todelete', true);
             var numElems = Object.keys(del_list).length;
             MAIN.set("delyes", true);
             del_list[numElems+1]= id;
             post_dict[id]['post_del']=true;
             MAIN.set('post_id',id);
             MAIN.set('del_list', del_list);
         });

        MAIN.on("delete", function(e) {
            var del_list=MAIN.get('del_list');
            var post_list= MAIN.get('post_dict');

            if (del_list.length > 0) {
            $.ajax("{{=URL('default', 'delete_posts',user_signature=True)}}",
                 {
                     method: "POST",
                     data: {items: del_list},
                     success: function () {
                     // Removes items from list
                         var old_items = MAIN.get('post_dict');
                         var l=Object.keys(old_items).length;
                         var new_items = [];
                         for (var i = 1; i <= l; i++) {
                            var keep = true;
                            for (var j = 0; j < del_list.length; j++) {
                                if (old_items[i]['post_uid'] === del_list[j]) {
                                    keep = false;
                                }
                            }
                            if (keep) {
                                new_items.push(old_items[i]);
                            }
                         }
                         MAIN.set('post_dict', new_items);
                     },
                     error: function () {
                         $("server_error").show();
                       }
                     });
            }

        });

        MAIN.on("startedit", function(e) {
            //have to get id of the board you clicked on.
            var post_dict= MAIN.get('post_dict');
            var id=$(e.node).data("areaid");
            var idd =post_dict[id]['post_uid'];
            var name=post_dict[id]['post_name'];
            if(idd==id) {
                MAIN.set('post_id',id);
                MAIN.set('active_draft',name);
                MAIN.set("editingt", true);
                var ldraft = MAIN.get("active_draft");
                MAIN.set("last_draft", ldraft);
                $("#editarea").focus();
            }else{
                MAIN.set('post_id',id);
                MAIN.set("editingt", true);
                MAIN.set('name',ldraft);
                MAIN.set("active_draft", "");
                var ldraft = MAIN.get("active_draft");
                MAIN.set("last_draft", ldraft);
                $("#editarea").focus();
            }
        });

        MAIN.on("editdone", function(e) {
            MAIN.set("editingt", false);
            MAIN.set("post_new", false);
            var myval = MAIN.get("active_draft");
            MAIN.set('name',myval);
            var areaid = MAIN.get("post_id");
            var aid=$(e.node).data("areaid");
            var msg_last = MAIN.get('last_draft');
            MAIN.set("last_draft", myval);
            var d=MAIN.get("post_desc");
            var del=MAIN.get("todelete");
            if ($.trim(myval).length > 0 && myval != msg_last) {
                send_message(myval,d,areaid,del);
                $("#loading_spinner").show();
            }
           // MAIN.set('board_id', generateUUID());
        })

//How to edit just description and not mess up title of post
        MAIN.on("starteditD", function(e) {
            //have to get id of the board you clicked on.
            var post_dict= MAIN.get('post_dict');
            var id=$(e.node).data("areaid");
            var idd =post_dict[id]['post_uid'];
            var desc=post_dict[id]['post_desc'];
            if(idd==id) {
                MAIN.set('post_id',id);
                MAIN.set('active_draft_d',desc);
                MAIN.set("editingd", true);
                var ldraft = MAIN.get("active_draft_d");
                MAIN.set("last_draftD", ldraft);
                $("#editarea").focus();
            }else{
                MAIN.set('post_id',id);
                MAIN.set("editingt", true);
                MAIN.set('active_draft_d',"");
                MAIN.set('post_desc'," ");
                var ldraft = MAIN.get("active_draft_d");
                MAIN.set("last_draftD", ldraft);
                $("#editarea").focus();
            }
        });

        MAIN.on("editdoneD", function(e) {
            MAIN.set("editingd", false);
            MAIN.set("post_new", false);
            var post_dict=MAIN.get("post_dict");
            var myval = MAIN.get("active_draft_d");
            var areaid = MAIN.get("post_id");
            var aid=$(e.node).data("areaid");
            var msg_last = MAIN.get('last_draftD');
            MAIN.set("last_draftD", myval);
            var d=MAIN.get("post_desc");
            var del=MAIN.get("todelete");
            var name=post_dict[aid]['post_name'];
            if ($.trim(myval).length > 0 && myval != msg_last) {
                send_message(name,myval,areaid,del);
                $("#loading_spinner").show();
            }
        })


        // This code is called when the create board button is pressed.
        MAIN.on("createpost", function(e) {
            var post_list = MAIN.get('post_dict');
            MAIN.set('active_draft', "New Post");
            MAIN.set('active_draft_d', "New Description");
            MAIN.set('post_desc', "New Description");
            var numElems = Object.keys(post_list).length;
            var empty_board= {title: ''};
            post_list[numElems+1]= empty_board;
            MAIN.set('post_id',numElems+1);
            MAIN.set('post_new',true);
            MAIN.set('post_del',false);
            var b=MAIN.get('board_id');
            MAIN.set('post_dict', post_list);
        });

        // Loads the initial list of messages.
        $.ajax("{{=URL('default', 'showposts',user_signature=True)}}",
                {
                    method: 'POST',
                    success: function (data) {
                        MAIN.set('post_dict', data['post_dict']);
                        MAIN.set('loading', false);
                        $("#loading_spinner").hide();
                    },
                    error: function() {
                        $("#loading_spinner").hide();
                        $("#server_error").show();
                    }
                }
        );



        function send_message(msg_content,msg_desc,postid,todelete) {
            $.ajax("{{=URL('default', 'add_posts',user_signature=True)}}",
            {
              data: {
                  post_name: msg_content, // request.vars.msg
                  id: postid,
                  post_desc:msg_desc,
                  post_del:false
              },
              method: 'POST',
              success: function() {
                // Reflect in the list of drafts or messages the update sent to the server.
                  var post_dict = MAIN.get('post_dict');
                  var b_id = MAIN.get('board_id');
                  post_dict[postid]['post_name']=msg_content;
                  post_dict[postid]['post_uid']=postid;
                  post_dict[postid]['post_desc']=msg_desc;
                  post_dict[postid]['post_del']=todelete;
                  post_dict[postid]['b_id']=b_id;
                  MAIN.set('post_dict', post_dict);
                  $("#loading_spinner").hide();
              },
              error: function() {
                  $("#loading_spinner").hide();
                  $("#server_error").show();
              }
            }
            );
        }


        function periodic_send() {
            var new_title = MAIN.get('active_draft');
            var new_desc = MAIN.get('active_draft_d');
            var post_dict = MAIN.get('post_dict');
            var post_id = MAIN.get('post_id');
            var initial_title="New Post";
            var initial_desc="New Description";
            var del=MAIN.get("todelete");
             if(post_id in post_dict){
                 var last_title = post_dict[post_id]['post_name'];
                 var last_desc = post_dict[post_id]['post_desc'];
                 if((new_title!=last_title && new_title!=initial_title && new_title!="")){
                     send_message(new_title,new_desc,post_id,del);
                     $("#loading_spinner").show();
                 }
                 if(new_desc!=last_desc && new_desc!=initial_desc&& new_desc!=""){
                     send_message(new_title,new_desc,post_id,del);
                     $("#loading_spinner").show();
                 }
             }
         }


// http://stackoverflow.com/questions/105034/create-guid-uuid-in-javascript
        function generateUUID(){
            var d = new Date().getTime();
            if(window.performance && typeof window.performance.now === "function"){
                d += performance.now();; //use high-precision timer if available
            }
            var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = (d + Math.random()*16)%16 | 0;
                d = Math.floor(d/16);
                return (c=='x' ? r : (r&0x3|0x8)).toString(16);
            });
            return uuid;
        }
setInterval(periodic_send, 10000);
    });
</script>


