{{extend 'layout.html'}}

{{import datetime}}

{{from gluon.tools import prettydate}}
<head>
    <link rel="stylesheet" href="{{=URL('static', 'sass/my_style.scss')}}"/>
</head>

<style>


</style>


{{if auth.user_id is None:}}
    <div id="main_login">
        {{=A('Back Home', _class='btn btn-warning', _href=URL('default', 'show_boards', args=[]))}}
        <span style="float: right;">
            {{=A('Sign Up', _class='btn btn-warning', _href=URL('default', 'user', args=['register']))}}
            {{=A('Sign In', _class='btn btn-success', _href=URL('default', 'user', args=['login']))}}
        </span>
    </div>



{{else:}}
        {{=A('Back Home', _class='btn btn-warning', _href=URL('default', 'show_boards', args=[]))}}
        <span style="float: right;">
            {{=A('Create Post', _class='btn btn-success', _href=URL('default', 'create_post', args=[board_id_of_post]))}}
        </span>
{{pass}}

        <div style="margin-bottom: 140px; margin-top: 40px; ">
    {{for post in post_list:}}
             <div class= "myPanelPost">
                  <div class="heading">
                      {{=post['title']}}
                      {{if post.user_id == auth.user_id:}}
                            {{=A(icon_edit, _href=URL('default', 'edit_post', args=post.id), user_signature=True)}}
                            {{=A(icon_delete, _href=URL('default', 'delete_post',
                                args=[post.id, board_id_of_post], user_signature=True))}}
                            {{pass}}
                  </div>
                  <div class="panelBody">
                        {{=(post['body'])}}

                  </div>
                  <div class="foot">
                        {{ d2 =  post['created_on'].strftime('%d %b %I:%M%p')}}
                        Posted on {{=d2}}
                  </div>
            </div>

    {{pass}}
        </div>