{{extend 'layout.html'}}

<h1 align="center" class="home_title">HOME PAGE</h1>


        
<body class="boardBody cbp-spmenu-push">

{{if auth.user_id is None:}}


    <div align="right" id="main_login">
    {{=A('Sign Up', _class='btn btn-warning', _href=URL('default', 'user', args=['register']))}}
    {{=A('Sign In', _class='btn btn-success', _href=URL('default', 'user', args=['login']))}}
    </div>

{{else:}}
        <div align="right">
        {{=A('Create Board', _class='btn btn-success', _href=URL('default', 'create_board', args=['']))}}
        </div>
 {{pass}}

<div style="margin-bottom: 140px; margin-top: 40px; ">
{{for board,count in zip(board_list,board_post_array):}}
        <div class = "myPanelBoard" >
            <div class = "heading">
            {{=A(board['title'],_href=URL('default', 'show_posts', args=board['id'])) }}</div>
            <div class = "panelBody">
                {{=count}} NEW POSTS TODAY
            </div>
            <div class = "foot">
                {{if board.rec_post is None:}}
                    No Posts
                {{else:}}
                    {{ date =  board['rec_post'].strftime('%d %b %I:%M%p')}}
                    Most Recent Post {{=date}}
                {{pass}}
            </div>
        </div>
{{pass}}

</div>


</body>
