{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}




<div id = "target"></div>

<script id = "template" type = "text/ractive">


<h2> <a href = {% index_url %}><button class="btn btn-default" type="button"><span class = "glyphicon glyphicon-arrow-left"></span></button></a> {% board_title %} </h2>


<div id = "add-post">



        <button id="submit_button" type="button"><span class="glyphicon glyphicon-plus"></span></button>
        <button id="delete_posts_submit"><span class="glyphicon glyphicon-trash"></span></button>


</div>

<p>{% new_board_name %}</p>


<h2>Posts:</h2>
<div class="message_list">
  {% #post_dict:msg_id %}

      <div class="board_post">
          {% #if active_draft_id == post_id %}
              <center><textarea value="{% active_draft_title %}"></textarea></center>
              <br>
              <textarea value="{% active_draft_text %}"></textarea>
          {% else %}
               <center><h4><div class = "post_title" > {% post_title %} </div></h4></center>
               <div class = "post_text" > {% post_description %} </div>
           {% /if %}

               {% #if can_edit %}
                   {% #if active_draft_id != post_id %}
                       <button  class ="board_button2" data-areaid= {% post_id %} on-click="startedit">
                           <span class ="glyphicon glyphicon-pencil"></span>
                       </button>
                   {% else %}
                       <button class = "board_button2" on-click="stopedit"><span class ="glyphicon glyphicon-ok"></span></button>
                   {% /if %}
                   <button class = "board_button1" data-areaid= {% post_id %} on-click="add_delete">
                   {% #if delete_list.indexOf(post_id) == -1 %}
                   <span class="fa fa-times"></span>
                   {% else %}
                    <span class="fa fa-times-circle"></span>
                   {% /if %}
                   </button>
               {% /if %}

      </div>

  {% /post_dict %}
</div>


</script>


<script>

  $(function () {

      function generateUUID(){
    var d = new Date().getTime();
    if(window.performance && typeof window.performance.now === "function"){
        d += performance.now();; //use high-precision timer if available
    }
    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = (d + Math.random()*16)%16 | 0;
        d = Math.floor(d/16);
        return (c=='x' ? r : (r&0x3|0x8)).toString(16);
    });
    return uuid;
  }

      // Ractive object
      var MAIN = new Ractive({
          el: '#target',
          template: '#template',
          delimiters: ['{%', '%}'],
          tripleDelimiters: ['{%%', '%%}'],
          data: {
              board_title: "{{=title}}",
              board_id: "{{=board_id}}",
              board_dict: {},
              post_dict: {},
              delete_list: [],
              index_url: "{{=URL('default','index')}}",
              new_board_name: "",
              draft_id: "",
              active_draft_id: "",
              active_draft_title: "",
              active_draft_text: "",
              loading: true
          },
      });



      function loadPosts(){
           $.ajax("{{=URL('default', 'load_posts', user_signature=True)}}",
          {
            data: { board_id: MAIN.get('board_id'), },
            method: 'POST',
            success: function (data) {
              MAIN.set('post_dict', data['posts_dict']);
                console.log(MAIN.get('post_dict'));
                console.log(MAIN);

            },
             error : function(){
                 console.log("Load Failed.");
             }
          });


      }

     function addPost(){

          $.ajax("{{=URL('default', 'new_post', user_signature=True)}}",
            {
              data: {
                board_id: MAIN.get('board_id'), // request.vars.msg
                post_id: generateUUID() , // request.vars.is_draft
                },
              method: 'POST',
              success: function() {
                  loadPosts();
                  console.log("addedpost");
              },
              error: function() { console.log("addpost failed");  }
            }
    );

     }

      function updatePostname(new_title,new_description,post_id){

          $.ajax("{{=URL('default', 'update_post', user_signature=True)}}",
            {
              data: {
                new_title: new_title, // request.vars.msg
                new_description: new_description, // request.vars.is_draft
                post_id : post_id,
                },
              method: 'POST',
              success: function() {
                  loadPosts();
                  console.log("updatedboardname");
              },
              error: function() { console.log("addboard failed"); }
            }
    ); }

      function deletePosts(){
          var passdelete_list= MAIN.get("delete_list")
          var json_string_delete_list = JSON.stringify(passdelete_list);;
          console.log("DELETING: " + passdelete_list);
          console.log("DELETING JSON: " + json_string_delete_list);
          $.ajax("{{=URL('default', 'delete_posts', user_signature=True)}}",
            {
              data: {
                delete_targs: json_string_delete_list, //
                },
              method: 'POST',
              success: function() {
                  loadPosts();
                  console.log("deletedposts");
              },
              error: function() { console.log("delete failed"); }
            }
    );

      }


      function intervalUpload(){
          intdraft_id = MAIN.get('active_draft_id');
          intdraft_text = MAIN.get('active_draft_text');
          intdraft_title = MAIN.get("active_draft_title");
          console.log("Called intervalupload. ")
          if (intdraft_id.length > 0){
          updatePostname(intdraft_title,intdraft_text,intdraft_id);
          }
          loadPosts();

      }





      loadPosts();

      $("#submit_button").click(addPost);
      $("#delete_posts_submit").click(deletePosts);


          MAIN.on("startedit", function(e) {
              var message = $(e.node).data("areaid");
              newtitle = $(e.node).siblings("center").children("h4").text();
              newtext = $(e.node).siblings("div.post_text").first().text();

              console.log(message);
              console.log(newtitle);
              console.log(newtext);
              console.log($(e.node).siblings("center").children("h4").text());
              MAIN.set("active_draft_id", message);
              MAIN.set("active_draft_title", newtitle);
              MAIN.set("active_draft_text", newtext);


          });

           MAIN.on("stopedit", function(e) {
               updatePostname(MAIN.get("active_draft_title"),
                              MAIN.get("active_draft_text"),
                              MAIN.get("active_draft_id"));
              MAIN.set("active_draft_id", "");
              MAIN.set("active_draft_title", "");
              MAIN.set("active_draft_text", "");

           });

           MAIN.on("add_delete", function(e) {
              var delete_list = MAIN.get("delete_list");
              var delete_target =  $(e.node).data("areaid");
               var delete_index = delete_list.indexOf(delete_target);
               if (delete_index == -1) {
                   delete_list.push(delete_target);
               } else {
                   delete_list.splice(delete_index, 1);
               }

               MAIN.set("delete_list",delete_list);
               console.log(delete_index);
               console.log(delete_target);
               console.log(MAIN.get("delete_list"));



           });
       setInterval(intervalUpload, 30000);
       });



</script>