{{extend 'layout.html'}}


<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Dashboard Template for Bootstrap</title>




</head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>



          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

              {{extend 'layout.html'}}

<div id="target"></div>

<script id="template" type="text/ractive">
<span>
<h1>
{{if auth.user_id != None:}}

{{pass}}
</h1>

</span>
{{if auth.user_id != None:}}
{% #msg_dict:id%}
    {%#if user_id == {{=auth.user_id}}%}
    <p> {% setRev() %} </p>
    {%/if%}
    <p> {% setTot(num_stars) %} </p>
{% /msg_dict %}
{% #if reviewed === false %}
   {{=A('Review This Spot', _class='btn btn-success', _href=URL('default', 'add_review', args=[post.id]))}}
{%/if%}
{{pass}}

<p> {% setAvg(total, numRev) %}</p>

{% average %}
{% #range(1,average) %}
    <p>{%average%}</p>
  {% / %}
 {{if post['image1']:}}
    <div class="item active">
        <img style="height: 160px; width: 160px;" src = "{{=URL('download', args=post['image1'])}}"  >
    </div>
 {{pass}}
 {{if post['image2']:}}
    <div class="item active">
        <img style="height: 160px; width: 160px;" src = "{{=URL('download', args=post['image2'])}}"  >
    </div>
 {{pass}}
 {{if post['image3']:}}
    <div class="item active">
        <img style="height: 160px; width: 160px;" src = "{{=URL('download', args=post['image3'])}}"  >
    </div>
 {{pass}}
 {{if post['image4']:}}
    <div class="item active">
        <img style="height: 160px; width: 160px;" src = "{{=URL('download', args=post['image4'])}}"  >
    </div>
 {{pass}}
  {{if post['image5']:}}
    <div class="item active">
        <img style="height: 160px; width: 160px;" src = "{{=URL('download', args=post['image5'])}}"  >
    </div>
 {{pass}}




{%#msg_dict:id%}
    <div class = "myboard">
        <div class = "boardtitle">
            {% body %}
            {% num_stars %}
            <br>
            {%#star_list%}
                <i style = "color: #ffad33" class = "fa fa-star"></i>
            {%/star_list%}

        </div>
    </div>
{%/msg_dict%}




</script>








        </div><!-- /.container -->


            <!-- Bootstrap core JavaScript
            ================================================== -->





        </div>
      </div>

  </body>


<script>


 jQuery('input.rating').each(function(){
        var span = jQuery('<span style="white-space:nowrap" />');
        var self = jQuery(this).hide().after(span);
        var fill_stars = function() {
            var k = parseInt(self.val()) || 0;
            for(var i=1; i<6; i++) span.find('.rate'+i).html((i<=k)?'&#x2605;':'&#x2606;');
        };
        for(var k=1; k<6; k++) (function(k){
                span.append('<span class="rate'+k+'">&#x2606;</span>');
                // el.event1(   ).event2(   ).event3(   )
                // el.event1(   );
                // el.event2(   );
//                span.find('.rate'+k).mouseover(function(){
//                        for(var i=1; i<6; i++) span.find('.rate'+i).html((i<=k)?'&#x2605;':'&#x2606;');
//                    }).click(function(){
//                      self.val(k); // for an input node n, n.val() returns the value, n.val(x) sets value to x
//                      fill_stars();
//                      jQuery.post(
//                              '{{=URL('vote', user_signature=True)}}', // URL for the AJAX call
//                              {   // Dictionary of names to values. The server will have:
//                                'picid':self.attr('data-picid'),  // request.vars.picid
//                                'rating':k   // request.vars.rating
//                              }
//                      );
//                    });
        })(k); // To ensure k is properly bound inside the event listener.
       // span.mouseout(fill_stars);  // To make sure we show the correct n of stars, even if we moved
                                    // the mouse after clicking.
        fill_stars();
    });





$(function() {

  // Ractive object
  var MAIN = new Ractive({
    el: '#target',
    template: '#template',
    delimiters: ['{%', '%}'],
    tripleDelimiters: ['{%%', '%%}'],
    data: {
      msg_dict: {},
      active_draft: "",
      loading: false,
      editing: true,
      newboard: false,
      message_content: "default",
      reviewed : false,
      average : 0,
      total: 0,
      numRev: 0,
      setRev: function(){
          MAIN.set('reviewed',true);
      },
      setTot: function(num_stars)  {
          MAIN.set('total', MAIN.get('total') + num_stars);
          MAIN.set('numRev', MAIN.get('numRev') + 1);
      },
      setAvg: function(total,num){
          MAIN.set('average', total/num);
      },
      range: function ( low, high ) {
          var range = [];
          for ( i = low; i <= high; i += 1 ) {
            range.push( i );
          }
          return range;
        }


    }
  });



   // Loads the initial list of messages.
  // Loads the initial list of messages.
  $.ajax("{{=URL('default', 'load_reviews', args= [post.id])}}",
          {
            method: 'POST',
            success: function (data) {
              MAIN.set('msg_dict', data['msg_dict']);
              MAIN.set('loading', false);
            }
          }

  );

 function setreviewed()  {

 }

});
</script>





















