.colorful {
  color: $clrHilight;
}

.empty_title {
  outline: 2px solid red;
}

.jumbotron.is_mine {
  border-bottom: 2px solid #00BC8C;
}

.jumbotron:not(.is_mine) {
  border-bottom: 2px solid #EEE;
}

.jumbotron>p {
  font-size: 14px;
}

.selected_delete {
  border-top: 2px solid #e74c3c;
  margin-top: -2px;
}